:root {
    /* Black pieces */
    --bb-svg: null;
    --bk-svg: null;
    --bn-svg: null;
    --bp-svg: null;
    --bq-svg: null;
    --br-svg: null;

    /*White pieces*/
    --wb-svg: null;
    --wk-svg: null;
    --wn-svg: null;
    --wp-svg: null;
    --wq-svg: null;
    --wr-svg: null;
}

/* Black pieces */
.piece.bb {
    background-image: var(--bb-svg) !important;
}
.piece.bk {
    background-image: var(--bk-svg) !important;
}
.piece.bn {
    background-image: var(--bn-svg) !important;
}
.piece.bp {
    background-image: var(--bp-svg) !important;
}
.piece.bq {
    background-image: var(--bq-svg) !important;
}
.piece.br {
    background-image: var(--br-svg) !important;
}

/* White pieces */
.piece.wb {
    background-image: var(--wb-svg) !important;
}
.piece.wk {
    background-image: var(--wk-svg) !important;
}
.piece.wn {
    background-image: var(--wn-svg) !important;
}
.piece.wp {
    background-image: var(--wp-svg) !important;
}
.piece.wq {
    background-image: var(--wq-svg) !important;
}
.piece.wr {
    background-image: var(--wr-svg) !important;
}
